PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/the-gathering
JWT_SECRET=super_secret_jwt_key_here
GOOGLE_CLIENT_ID=
# Email Configuration (for OTP)
EMAIL_USER=@gmail.com
EMAIL_PASS=


LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=